.textAreaColumn{
    width:100%;
    height : 100%;    
}
.textAreaColumn div{
    float:left;
    width:30%;
    padding:20px;
    box-sizing: border-box;
}

.textAreaColumn div span{
    display:block;
    text-align:center;
}

.textAreaColumn div textarea{
    box-sizing: border-box;
    width:100%;
    height: vh;
    border:3px solid red;
}

.body {
    height: 100%;
}