<body>
<h1  align='center'>{{title}}</h1>

<div class="textAreaColumn">
    <div>
        <span>Enter input C code</span>
        <textarea id='in'>Content goes here</textarea>
    </div>
    <div>
        <span>Generated RTL</span>
        <textarea id='rtl'>Content goes here</textarea>
    </div>
    <div>
        <span>Decompiled C++ code</span>
        <textarea id='out'>Content goes here</textarea>
    </div>
    <!-- <div>
        <span>Title 4</span>
        <textarea>Content goes here</textarea>
    </div> -->
</div>

<button type='button' (click)="onClick()" align='center'>Generate</button>
</body>